﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@model epita_ca1_74526.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("admin"))
    {
        <meta http-equiv="refresh" content="0; url=@Url.Action("Index", "User")" />
    }
    else
    {
        <h1 class="display-4 fw-normal">Dashboard</h1>
        <div class="album py-5 bg-light">
            <div class="container">
                <h2 class="display-4 fw-normal">Your Account information</h2>
                <ul>
                    <li>Number of Bank Account: @Model.AccountsBank.Count</li>
                    <li>UserName: @Model.user.UserName</li>
                    <li>Email: @Model.user.Email</li>
                    <li>Balance: @Model.user.Balance</li>
                </ul>
                <h2 class="display-4 fw-normal">Your Bank accounts</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                    @foreach (var item in Model.AccountsBank)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">

                                <div class="card-body">
                                    <p class="card-text">Account: @item.accountType</p>
                                    <p class="card-text">Balance: @item.Balance</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="@Url.Action("Detail", "AccountBank", new { id = item.Id })" class="btn btn-sm btn-outline-secondary">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <h2 class="display-4 fw-normal">Your Transactions</h2>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    @foreach (var item in Model.Transactions)
                    {
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">

                                <div class="card-body">
                                    <p class="card-text">Title: @item.Title</p>
                                    <p class="card-text">Type of transaction: @item.transactionType</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="@Url.Action("Detail", "Transaction", new { id = item.Id })" class="btn btn-sm btn-outline-secondary">Details</a>
                                        </div>
                                        <small class="text-muted">@item.Date</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="btn-group">
                    <a href="@Url.Action("Create", "Transaction")" class="btn btn-sm btn-outline-secondary">Add a new transactions</a>
                </div>

            </div>
        </div>
    }
}
else
{
    <meta http-equiv="refresh" content="0; url=@Url.Action("Index", "Home")"/>
}